
.home{
width: 90%;
margin: auto;
}
.offerdaily{
  width: 90%;
  margin:auto;
  margin-top: 30px;
}
.extraline{
  display: grid;
  grid-template-columns: 41% 18% 41%;
  margin: auto;
  margin-bottom: 15px;

}
.dailyspec{text-align: center;}
.dailyspec>h3{
  margin: 0px 5px;
  color: #65318f;
  text-transform: uppercase;
}
.endsin span{
font-weight: bold;
}
.endsin strong{
color: #e82e74;
}
.line{
  margin-top: 10px;
background-color: #0b0b0b;  
height: 5px;
}
.lines{
  margin-top: 10px;
  background-color:#65318f;  
  height: 5px;
}
.dailyspecial {
  padding-top: 25px;
  width: 85%;
  margin: auto;
}
.dealsdaily{
  width: 90%;
  margin:auto;
  background-color: #ebe5f1;
  padding:2% 5%;
}

.dailymessage {
  font-size: 19px;
  letter-spacing: 1px;
  color: #2b2b2b;
  text-transform: none;
  display: inline-block;
  font-weight: 700;
  font-family: Lato, sans-serif;
}
.textright {
  text-align: right;
}
.maxitem {
  margin-top: -10px;
  display: block;
  letter-spacing: 0.015em;
  font-weight: 700;
  font-family: Lato, sans-serif;
}
.productgridlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
  font-family: Lato, sans-serif;
  margin: auto;
}

.bestbtn {
  border: 1px solid #d4d2d2;
  color: #0b0b0b;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 0.015em;
  font-weight: 700;
  font-family: Lato, sans-serif;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-decoration: none;
}
.bestbtn>.arrclr{
  color: #e82e74;
  font-size: 85%;
}
.promotitleln {
  border-color: #09030e;
  /* border-bottom: 5px solid #0b0b0b; */
  margin: 0 0 -15px;
}

.promotitledeal{
  padding: 0 20px;
  display: inline-block;
  background-color: white;
}
@media (max-width: 1200px) {
  .productgridlist{
    grid-template-columns: repeat(3, 1fr);

  }
}
@media (max-width: 1080px) {
  .productgridlist{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 670px) {
  .productgridlist{
    grid-template-columns: repeat(1, 1fr);
  }
}

