
.container{
    display: flex;
 
   
}
.orders{
    width: 100%;
   color: #201f1f;
   padding: 2%;
   height: 82vh;
   
}
.orders > h1{
    font-size: 25px;
    margin:0px auto;
    background-image: linear-gradient(to right, #96307D 0%, #52246D 120%);
   
    padding: 15px 15px 15px 20px;
    font-family: Lato,sans-serif;
    color: white;
    width: 50%;
    text-align: center;
}
.page_no{
    display: flex;
    justify-content: space-between;
    color: #201f1f;
}
.table{
    height: 80%;
}
.header{
    display: flex;
    border-bottom: 1px solid gray;
    width: 100%;
    justify-content: space-between;
}
.header > div{
 text-align: left;
 width: 200px;

}
.header :last-child{
    display: flex;
}
.header :last-child > input{
    padding: 5px;
    height: 10px;
    margin-top: 15px;
    margin-left: 5px;
}
.header > div > h4{
    margin: 20px 0px;
}

.pagination{
    padding: 10px;
    display: flex;

    justify-content: space-between;
}