.container{
    display: flex;
 
   
}
.orders{
    width: 100%;
  
   padding: 2%;
   height: 82vh;
   
}
.table{
    height: 80%;
}
.header{
    display: flex;
    border-bottom: 1px solid gray;
    width: 100%;
    justify-content: space-between;
}
.header > div{
 text-align: left;
 width: 200px;

}
.header :last-child{
    display: flex;
}
.header :last-child > input{
    padding: 5px;
    height: 10px;
    margin-top: 15px;
    margin-left: 5px;
}
.header > div > h4{
    margin: 20px 0px;
}

.pagination{
    padding: 10px;
    display: flex;

    justify-content: space-between;
}