.admin_panel{
    display: flex;
    width: 100%;
}
.side_panel{
    width: 20%;
    height: 100vh;
    background-color: blueviolet;
}

.user{
    height: 25%;
    width: 100%;
    background-color: brown;
    padding-top: 5%;
}
.user_img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: gray;
    margin: auto;
}
.user > h1{
    text-align: center;
    color: white;
    margin: 5px;
}
.sign_out{
width: 50%;
height: 20px;
margin: auto;

}
.sign_out > button{
    padding: 5px;
    cursor: pointer;
    width: 100%;
}