.navbar {
  top: 0;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1031;
  min-height: 50px;
  font-family: Lato, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #2c2c2c;
  background: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90px;
}
.navbrand {
  color: #fff;
  width: 80%;
  height: 90px;
  background: url(https://a.cdnsbn.com/images/common/2016CompanyLogo.png) no-repeat scroll center center transparent;
  background-size: contain;
  display: block;
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}
.navright {
  margin-bottom: 0;
  margin: 0px;
  list-style: none;
  height: 40px;
  width: 70%;
}
.addnav {
  position: relative;
  padding: 0;
  font-size: 12px;
  text-align: right;
  display: block;
}
.addnavlang {
  padding: 10px 0;
  position: relative;
  padding: 0;
  font-size: 12px;
  /* margin-bottom: 10px; */
  margin-top: 8px;
  display: block;
  list-style-type: disc;
  text-align: right;
  color: #b53788;
  list-style: none;
  width: 100%;
}
.addnavlang li {
  position: relative;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  text-align: -webkit-match-parent;
}
.addnavlang > li:first-child {
  cursor: auto !important;
}
.glyphicon {
  font-size: 9px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.logimg {
  margin-left: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ordertrack {
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
}
.navform1 {
  border-color: #101010;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 22px;
  display: block;
  text-align: center;
  width: 70%;
  margin-top: 18px;
}
.navform2 {
  border-color: #101010;
  text-align: center;
  width: 33%;
}
.navform1 > div {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  border: 2px solid #521b76;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2px 2px 0px 2px;
  height: 32px;
}
.navform2 > div {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #521b76;
  text-align: center;
  width: 100%;
  padding: 0px 3px;
}
.inpsearch1 {
  width: 80%;
  background-color: transparent;
  border: 0;
  padding: 0px;
  box-shadow: none;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  font-size: 13px;
  color: #555;
  outline: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.inpsearch1::placeholder {
  color: #521b76;
}
.inpsearch2 {
  width: 80%;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  font-size: 13px;
  color: #555;
  outline: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 5px;
  padding: 5px;
}

.searchbtn1 {
  height: 26px;
  font-size: 18px;
  color: #521b76;
  /* padding: 0 10px; */
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 4px;
}
.searchbtn2 {
  height: 33px;
  font-size: 18px;
  color: #521b76;
  /* padding: 0 10px; */
  background-color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 9px;
}
.navbarmenu1 {
  background: #623381;
  width: 100%;
  display: block;
}
.navbarmenu2 {
  background: #623381;
  display: none;
  display: none;
  justify-content: space-between;
  padding: 6px 20px;
}
.menucont {
  width: 95%;
  margin: 0px auto;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between !important;
  font-size: 14px;
  float: none;
  text-align: center;
  list-style: none;
}
li {
  padding: 5px 0px;
}
.menunavright {
  font-size: 12px;
  padding: 0;
  color: #b53788;
  list-style: none;
  display: flex;
  letter-spacing: 0.015em;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding-left: 14%;
}
.loginlinks {
  cursor: auto !important;
  font-weight: 700;
  text-align: -webkit-match-parent;
  font-size: 12px;
  color: #b53788;
  list-style: none;
  letter-spacing: 0.015em;
  position: relative;
}
.accname {
  color: #b53788;
  padding: 0;
  display: block;
  text-decoration: none;
  font-weight: 700;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.aaccname {
  color: #b53788;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.015em;
  width: 70px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}
.clrspn {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  /* color: white; */

}
.clrspns {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.li1 {
  display: flex;
  justify-content: space-evenly;
}



@media (max-width: 1174px) {
  .li1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
ul .foc{
  text-decoration: none;
  color: #fff;
  padding: 0px 4px;
}
ul .foc:focus,ul .foc:hover {
  background-color: #fff;
  color: #521b76;
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .navright {
    width: 33%;
    margin-right: 5%;
  }
  .navbarmenu1 {
    display: none;
  }
  .navbarmenu2 {
    display: block;
  }
  .navform1 {
    display: none;
  }
  .navform2 {
    display: block;
  }
  .navbarmenu2 {
    background: #623381;
    display: none;
    display: flex;
    justify-content: space-between;
  }
}

.showProfileOn {
  background-color: #fff;
  padding: 10px 0px;
  z-index: 100000000;
  width: 130px;
  position: absolute;
}

.showProfilePink {
  padding: 7px 24px;
  color: #fff;
  font-size: 14px;
  background-color: #fc0077;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.showProfileOptions {
  color: #6b3a87;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.015em;
  padding: 7px 0px;
  font-weight: 500;
  text-align: center;
  width: 58%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  cursor: pointer;
}
.showProfileOptionsor {
  color: #6b3a87;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.015em;
  padding: 7px 0px;
  font-weight: 500;
  text-align: center;
  width: 51%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  cursor: pointer;
}

.showProfileOptionss {
  color: #6b3a87;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.015em;
  padding: 7px 0px;
  font-weight: 500;
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  cursor: pointer;
}
.showProfileOptions span {
  text-align: left;
}